<div class="WholeBody">
    <div class="sideNav">
        <app-side-bar></app-side-bar>
    </div>
    

    <div class="pictures">
        <ul class="photosBody">
            <li class="photos">
                <img src="../../assets/TestPhotos/Wyatt_Womack.jpg" alt="Wyatt+Womack" class="photo">
                <img src="../../assets/TestPhotos/Geo.jpg" alt="GEO" class="photo">
                <img src="../../assets/TestPhotos/ACMGrammys.jpg" alt="Grammy" class="photo">
                <img src="../../assets/TestPhotos/ACMNSO.jpg" alt="ACMNSO" class="photo">
                <img src="../../assets/TestPhotos/Polymorph.jpg" alt="Poly" class="photo">
            </li>
        </ul>
    </div>
    <div class="Events">
        <ul>
            <li><section>
                <h1>GameJam</h1> 
                    <p>
                        Decription about the GameJam
                    </p>
            </section></li>
            <li><section>
                <h1>Github</h1> 
                    <p>
                        Decription about the Github
                    </p>
            </section></li>

            <li><section>
                <h1>Stuff</h1> 
                    <p>
                        Decription about the Stuff
                    </p>
            </section></li>
        </ul>
    </div>
    <app-body-staff></app-body-staff>
    
</div>

