<div class="Staff">
    <ul class="Officers">
        <li class="Officer">
            <section class=OfficerBody>
                <h1 class="biophoto">
                    <img src="../../assets/TestPhotos/IggyPersonPicture.jpg" alt="iggy" class="biophoto">   
                </h1>
                
                <p class="PersonBio">
                    Iggy, also known as Iggy is kinda of a smooth brain.
                    He does werid things and he is shortest of the staff sadly...
                </p>
            </section>
        </li>
        <li class="Officer">
            <section class=OfficerBody>
                <h1 class="biophoto">
                    <img src="../../assets/TestPhotos/IggyPersonPicture.jpg" alt="iggy" class="biophoto">   
                </h1>
                <p class="PersonBio">
                    Iggy, also known as Iggy is kinda of a smooth brain.
                    He does werid things and he is shortest of the staff sadly...
                </p>
            </section> 
        </li>
    </ul>
</div>



<!-- <li class="Officer"><section class=OfficerBody>
            <h1 class="biophoto">
                <img src="../../assets/TestPhotos/WomackPerson.jpg" alt="womack" class="biophoto">
            </h1>
            <p class="PersonBio">
                Womack, also known as Gabe, also known as Steven, also known as the CS tutor.
                He does stuff....
                Yes, Stuff....
            </p>
        </section></li> -->