p {
    color: white;
}

.sideNav-Container {
  width: 200px;
  height: 900px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: darkcyan;
  background-color: darkslategrey;
}


@media only screen and (max-height: 600px) {
  .sideNav-Container {
    width: 200px;
    height: 700px;
    text-align: center;
    text-size-adjust: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: darkcyan;
    background-color: darkslategrey;
  }
}


  