p {
    color: white;
}
.sideNav-Container {

  width: 15em;
  height: 100%;
  //border: 2px solid rgba(255, 0, 0, 0.5);
  color: darkcyan;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.LogoHolder {
  width: 180px;
  height: 100px;
  text-align: center;
  // border-style: solid;
  // border-color: green;
}


// .buttonBody { //fuck you vs code intelsense
//   // border-style: solid;
//   // border-color: green;
// }

.button {
  width: 8em;
  height: 3em;
  margin: 1em;
  background-color: transparent;
  border-style: none;
  font-size: 1.5em;
}

.button:hover {
  background-color: rgb(28, 31, 39);
}

@media screen and (max-width: 1000px) {
  .button:hover {
    background-color: rgb(255, 0, 0);
  }
}
  








  