<div>
    <mat-sidenav-container class="sideNav-Container">
        <mat-sidenav #sidenax mode="push">
            <div *ngFor="let course of courses">
                <button class="button">
                    {{course}}
                </button>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <!--<app-menu-icon mat-button (click)="sidenax.toggle()">sidenav.toggle() </app-menu-icon> -->
            <p>
                <button mat-button (click)="sidenax.toggle()">Sections

                </button>
            </p>
        </mat-sidenav-content>

      </mat-sidenav-container>
</div>