<div class="bodyOfSideBar">
    <div class="asuLogo">
        <img src="../../assets/ASULogo.jpg" alt="ASULOGO" class="sideAsuLogo">
        <div class="text">
            <h1 class="Header">
                Input text
            </h1>
            <div class="buttons">
                <div>
                    <button class="button">
                        HomePage
                    </button>
                </div>
                <div>
                    <button class="button">
                        Calendar
                    </button>
                </div>
                <div>
                    <button class="button">
                        Socials
                    </button>
                </div>
                <div>
                    <button class="button">
                        Alumni
                    </button>
                </div>
                <div>
                    <button class="button">
                        Staff
                    </button>
                </div>

            </div>
        </div>
    </div>
    
</div>
<!-- <ul>
    <li><button>
        HomePage
    </button></li>
    <li><button>
        Calendar
    </button></li>
    <li><button>
        Socials
    </button></li>
    <li><button>
        Alumni
    </button></li>
    <li><button>
        Staff
    </button></li>
    <li><button>
</ul> -->